# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.venv/

# Environment files
.env
*.env
!.env.example
frontend/.env
frontend/.env.*

# Logs
*.log
backend/logs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db