# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3

# Media / Static
media/
staticfiles/

# Virtual environment
venv/
.venv/

# Environment files
.env
*.env
!.env.example
!backend/.env.example

# Frontend dependencies
frontend/node_modules/

# Frontend build
frontend/dist/
frontend/dist-ssr/

# Backend logs
backend/logs/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db