# Django
SECRET_KEY=your-secret-key

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

# Database
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Time Zone
TIME_ZONE=Asia/Kolkata

# Language
LANGUAGE_CODE=en-us