# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Django
db.sqlite3
*.log
media/

# Static Files
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Distribution
build/
dist/
*.egg-info/